<template>
  <div class="all">
    <div class="titulo">
      <h1>DolaEuros</h1>
      <div class="lainfo">
        <div class="info">Fecha:{{money.data.date}}</div>
        <div class="info">base:{{money.data.base}}</div>
        <div class="info">Tipo de cambio:{{money.data.rates.USD}}</div>
      </div>
      <div>
        <p>Precios de otras divisas</p>
        <p>ANG:{{money.data.rates.ANG}}</p>
        <p>JPY:{{money.data.rates.JPY}}</p>
      </div>
    </div>
    <div>
      <input :value="message" @input="Changemessage" placeholder="EUR">
      <input :value="eurausa" type="text" placeholder="USD" readonly>
      <button v-on:click="EURusa">cambio</button>
    </div>
    <div>
      <div>En ANG:{{eurang}}</div>
      <div>EN JPY:{{eurjpy}}</div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
// import input123 from './input321'
export default {
  name: "HelloWorld",
  data() {
    return {
      message: "",
      money: [],
      eurausa: "",
      cambio: "",
      eurang: "",
      eurjpy: ""
    };
  },
  components: {
    // 'input-app':input123
  },
  methods: {
    Changemessage(event) {
      this.message = event.target.value;
    },
    EURusa: function() {
      this.cambio = this.message;
      this.eurausa = parseFloat(this.money.data.rates.USD * this.cambio);
      this.eurang = parseFloat(this.money.data.rates.ANG * this.cambio);
      this.eurjpy = parseFloat(this.money.data.rates.JPY * this.cambio);
    }
  },
  beforeCreate() {
    axios
      .get(
        "http://data.fixer.io/api/latest?access_key=bccf73e34c3b762a1dfef225d7819280"
      )
      .then(r => (this.money = r));
  },
  mounted() {}
};
</script>


<style scoped lang="scss">
.info {
  margin: auto;
  padding: auto;
  align-content: center;
  text-align: center;
  align-self: center;
  background-color: #36486b;
  height: 50px;
  width: 140px;
}
h1 {
  font-size: 40px;
  padding-top: 20px;
}
.titulo {
  top: 90px;

  background-color: #618685;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.lainfo {
  display: flex;
  justify-content: center;
}
</style>
