<template>
    <input :value='msg' @input="Changemessage" placeholder="EUR">
</template>

<script>
export default {
    props:['msg'],
    data() {
        return {
            message:''
        }
    },
    methods:{
        Changemessage(event){
            this.message=event.target.value;
            this.$emit('cambiarmensaje',this.message)

        }
    }

}
</script>

<style>

</style>
