<template>
    <div>
        <h1>{{msg}}</h1>
        <h1>{{message}}</h1>
        <input type="text" :value="msg" @input="changeMessage" >
    </div>
</template>

<script>
export default {
    props:['msg'],
    data() {
        return {
            message:''
        }
    },
    methods:{
        changeMessage(event){
            this.message=event.target.value;
            this.$emit('messageChanged',this.message)//si mando el evento sin 2do parametro es verdadero, el segundo parametro es el $event

        }
    }

}
</script>

<style>

</style>
@messageChanged='message=$event'